<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ current_list.column__name }}</title>
    <meta name="keywords" content={{ current_list.column__name }} />
    <meta name="description" content={{ current_list.column__name }} />
</head>
<body>


{#当前列表#}
<div>
   当前位置:
    {{ current_list.column__parent__name }} 》
    {{ current_list.column__name }}
</div>


{#电影列表#}
<div>
    <ul>
    {% for row in posts.object_list %}
        <li><a href="{% url 'movies_content' mid=row.id %}" >{{ row.title }}</a></li><br>
        <li>{{ row.column }}</li><br>
        <li><img src="/static/images/{{ row.image }}"></li><br>
        <li>{{ row.actor }}</li><br>
        <li>{{ row.years }}</li><br>
    {% endfor %}
    </ul>
</div>

<div>
    {% if posts.has_previous %}
        <a href="{% url 'list_page' cname=current_list_cname current_page=posts.previous_page_number %}">上一页</a>
    {% endif %}

            {% for num in posts.paginator.page_range%}
                    <a href="{% url 'list_page' cname=current_list_cname current_page=num %}">{{ num }}</a>
            {% endfor %}

    {% if posts.has_next %}
        <a href="{% url 'list_page' cname=current_list_cname current_page=posts.next_page_number %}">下一页</a>
    {% endif %}
</div>

</body>
</html>